/*** Footer ***/
.prefooter {
  &__wrapper {
    position: relative;
    background-color: var(--grey-4);
    box-shadow: var(--drop);
    z-index: 1;
  }
  &__container {
    padding: var(--spacing-xl) var(--spacing-xxl) var(--spacing-xxl-2) var(--spacing-xxl);
  }
  &__text {
    padding-bottom: var(--spacing-xl);
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list + &__list {
    padding-top: var(--spacing-l);
  }
  &__link img {
    height: 38px;
  }
}
.footer {
  position: relative;
  z-index: 1;
  &__wrapper {
    position: relative;
    background-color: var(--grey-text);
    z-index: 0;
  }
  &__container {
    padding: var(--spacing-xl) var(--spacing-xxl) var(--spacing-xxl) var(--spacing-xxl);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 59px 62px;
  }
  &__logo {
    width: 138px;
  }
  &__social {
    grid-column: 1;
  }
  &__info {
    align-self: end;
    justify-self: end;
  }
  // &__icon {
  // }
}