:root {
  /*** Colors ***/
  --blue: #66cccc;
  --black: #272525;
  --grey-text: #333333;
  --grey-footer: #555555;
  --grey-4: #bdbdbd;
  --grey-light: #f2f2f2;
  --white: #ffffff;
  --red: #ff8686;
  --lilac: #d09bfa;
  /*** Spacing ***/
  --spacing-xxs: 0.25rem;
  /* 4px */
  --spacing-xs: 0.5rem;
  /* 8px */
  --spacing-s: 0.75rem;
  /* 12px */
  --spacing-m: 1rem;
  /* 16px */
  --spacing-l: 1.25rem;
  /* 18px */
  --spacing-xl: 1.5rem;
  /* 24px */
  --spacing-xxl: 2rem;
  /* 32px */
  --spacing-xxl-2: 2.5rem;
  /* 40px */
  --spacing-xxl-3: 3.25rem;
  /* 52px */
  --spacing-xxl-4: 3.75rem;
  /* 60px */
  /*** Shadows ***/
  --top-layer: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  --inner: inset 0.5px 0.5px 0.5px rgba(39, 37, 37, 0.5);
  --drop: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*** Fonts ***/
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  color: var(--grey-text);
}

.title-1 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8125rem;
}
.title-1.is-bold {
  font-weight: 700;
}

.title-2 {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.text-bold {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.text-menu {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.text-footer {
  font-size: 13px;
  line-height: 1rem;
}

.text-white {
  color: var(--white);
}

.text-error {
  color: var(--red);
  font-size: 0.75rem;
}

.is-bold {
  font-weight: bold;
}

/*** Components ***/
/* Layouts */
.flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column--end {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HTML Structure -        
<section class="intro">
  <div class="flex-column--end is-darker">
    <h1 class="intro__title title-1"></h1>
    <h2 class="intro__subtitle title-1"></h2>
    <button class="nav-down"><img src="../../assets/images/icons/icon_arrow--down--blue.svg" alt=""></button>
  </div>
</section>
*/
.intro {
  position: relative;
  /* background-image: Will be defined for each page individually*/
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
}
.intro div {
  height: calc(100vh - 75px);
}
.intro__title, .intro__subtitle, .intro__text {
  padding-bottom: var(--spacing-xxl-2);
  padding-left: var(--spacing-xxl);
  width: 75%;
  z-index: 0;
}

/* States */
.is-hidden {
  display: none;
}

.is-active {
  font-weight: bold;
}

/* Turns it white - not compatible with shadows */
.is-white {
  filter: brightness(500%);
}

/* Applies a semi-transparent layer on top that makes it darker */
/* Might have to give a z-index to the elements we want see on top */
.is-darker::before {
  content: "";
  background-color: var(--black);
  opacity: 0.5;
  width: 100%;
  height: inherit;
  position: absolute;
}

/* Social Media Elements */
.social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.social__icon + .social__icon {
  padding-left: var(--spacing-s);
}

/* Input */
.input {
  display: flex;
  border-bottom: 2px solid var(--blue);
}
.input + .input {
  margin-top: var(--spacing-l);
}
.input__box--big {
  position: relative;
}
.input__box--big::before {
  content: "";
  width: 2px;
  background-color: var(--blue);
  position: absolute;
  height: 139%;
  bottom: -2px;
  right: -2px;
}
.input__textfield {
  width: 100%;
  text-align: start;
}
.input__textfield--big {
  height: 57px;
}
.input textarea {
  appearance: none;
  border: none;
  resize: vertical;
  outline: none;
  overflow: auto;
  font: inherit;
  color: inherit;
  width: 100%;
}
.input__error {
  position: absolute;
  right: 0;
  top: -14px;
}

/* Buttons */
.btn {
  padding: 12.3px 0 12.3px var(--spacing-xxl-2);
}
.btn.btn--blue {
  background-color: var(--blue);
}
.btn.btn--lilac {
  background-color: var(--lilac);
}
.btn.btn--red {
  background-color: var(--red);
}
.btn.btn--white {
  background-color: var(--white);
}
.btn.btn--black {
  background-color: var(--black);
}
.btn.btn--left {
  position: relative;
  padding-right: var(--spacing-xxl-4);
  align-self: flex-end;
  left: 32px;
}
.btn.btn--left::before {
  position: absolute;
  width: 29.5px;
  left: -0.5px;
  top: -0.8px;
}
.btn.btn--left:not(.bg--grey)::before {
  content: url("../../assets/images/box_negative.svg");
}
.btn.btn--left.bg--grey::before {
  content: url("../../assets/images/box_negative--grey.svg");
}
.btn.btn--left.bg--blue::before {
  content: url("../../assets/images/box_negative--blue.svg");
}
.btn.btn__arrow::after {
  content: url("../../assets/images/icons/icon_arrow--right.svg");
  position: absolute;
  top: 14px;
  right: 30px;
}
.btn.btn--trapeze {
  align-self: center;
  padding-right: var(--spacing-xxl-2);
  position: relative;
  overflow: visible;
}
.btn.btn--trapeze::before {
  position: absolute;
  width: 29.5px;
  left: -0.5px;
  top: -0.8px;
}
.btn.btn--trapeze::after {
  position: absolute;
  width: 29.5px;
  transform: scaleX(-1);
  right: -0.9px;
  top: -0.8px;
}
.btn.btn--trapeze:not(.bg--grey)::before, .btn.btn--trapeze:not(.bg--grey)::after {
  content: url("../../assets/images/box_negative.svg");
}
.btn.btn--trapeze.bg--grey::before, .btn.btn--trapeze.bg--grey::after {
  content: url("../../assets/images/box_negative--grey.svg");
}

/* White Circle */
.circle-white {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: 4px solid #FFFFFF;
  border-radius: 50px;
}

/* In-page Navigation Arrows*/
.nav-up {
  position: absolute;
  bottom: 20px;
  right: 30px;
  z-index: 6;
}
.nav-up img {
  transform: scaleY(-1);
}
.nav-up.at-top {
  bottom: 0;
  top: 20px;
}

.nav-down {
  position: absolute;
  bottom: 20px;
  right: 30px;
  z-index: 6;
}

/* General Stylings */
.wrapper {
  display: grid;
  grid-template-columns: auto minmax(auto, 1366px) auto;
}

.header__wrapper, .main__wrapper, .footer {
  grid-column: 2;
}

/*** Header ***/
.header__wrapper {
  position: relative;
  background-color: var(--blue);
  z-index: 5;
  /* When the menu is open */
}
.header__wrapper img {
  cursor: pointer;
}
.header__wrapper.is-open .header__top {
  display: none;
}
.header__wrapper.is-open .header-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__wrapper.testing .header__top {
  display: flex;
}
.header__wrapper.testing .header-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 400px;
}
.header__container {
  box-shadow: var(--top-layer);
}
.header__top {
  padding: var(--spacing-m) var(--spacing-xl);
}
.header__top a {
  height: 43px;
}
.header__logo {
  width: 180px;
}
.header-menu {
  background-color: var(--blue);
  padding: var(--spacing-xl) var(--spacing-xxl);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}
.header-menu__top {
  display: block;
}
.header-menu__lang-nav .lang + .lang {
  position: relative;
  padding-left: var(--spacing-xxl);
}
.header-menu__lang-nav .lang + .lang::before {
  content: "|";
  position: absolute;
  left: 14px;
}
.header-menu__nav {
  padding-top: var(--spacing-xxl-3);
}
.header-menu__item + .header-menu__item {
  padding-top: var(--spacing-l);
}
.header-menu__logo {
  width: 182px;
}
.header-menu__social {
  padding-top: var(--spacing-l);
}

/*** Footer ***/
.prefooter__wrapper {
  position: relative;
  background-color: var(--grey-4);
  box-shadow: var(--drop);
  z-index: 1;
}
.prefooter__container {
  padding: var(--spacing-xl) var(--spacing-xxl) var(--spacing-xxl-2) var(--spacing-xxl);
}
.prefooter__text {
  padding-bottom: var(--spacing-xl);
}
.prefooter__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prefooter__list + .prefooter__list {
  padding-top: var(--spacing-l);
}
.prefooter__link img {
  height: 38px;
}

.footer {
  position: relative;
  z-index: 1;
}
.footer__wrapper {
  position: relative;
  background-color: var(--grey-text);
  z-index: 0;
}
.footer__container {
  padding: var(--spacing-xl) var(--spacing-xxl) var(--spacing-xxl) var(--spacing-xxl);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 59px 62px;
}
.footer__logo {
  width: 138px;
}
.footer__social {
  grid-column: 1;
}
.footer__info {
  align-self: end;
  justify-self: end;
}

/*** Main  ***/
.main {
  height: 300px;
}
.main__wrapper {
  position: relative;
  box-shadow: var(--drop);
  z-index: 2;
}

main img {
  width: 100%;
}

/*** Page - Contact ***/
.contact__container {
  padding: var(--spacing-xxl-3) var(--spacing-xxl) var(--spacing-xxl-4) var(--spacing-xxl);
}
.contact__title {
  padding-bottom: var(--spacing-l);
}
.contact__intro {
  padding-bottom: var(--spacing-s);
}
.contact__social {
  padding-bottom: var(--spacing-xxl-3);
}
.contact .form {
  display: flex;
  flex-direction: column;
}
.contact .form__item {
  display: grid;
  grid-template-columns: 100px auto;
}
.contact .form__submit {
  margin-top: var(--spacing-xxl-2);
}

/*** Page - Inici ***/
.inici section {
  position: relative;
}
.inici .intro {
  background-image: url("../../assets/images/home_1.png");
}
.inici__acompanyamemt {
  /* Section Acompanyament */
  padding: var(--spacing-xxl-3) var(--spacing-xxl) var(--spacing-xxl-4) var(--spacing-xxl);
  display: flex;
  flex-direction: column;
}
.inici__acompanyamemt .inici-acompanyament__title {
  padding-bottom: var(--spacing-l);
}
.inici__acompanyamemt .inici-acompanyament__text {
  padding-bottom: var(--spacing-xl);
}
.inici__acompanyamemt .inici-acompanyament__img {
  padding-bottom: var(--spacing-xxl-4);
}
.inici__estudi {
  box-shadow: var(--top-layer);
}
.inici__estudi .inici-estudi__img {
  padding-bottom: var(--spacing-s);
}
.inici__estudi .inici-estudi__box {
  background-color: var(--grey-light);
  padding: var(--spacing-xxl-2) var(--spacing-xxl) 70px var(--spacing-xxl);
  display: flex;
  flex-direction: column;
}
.inici__estudi .inici-estudi__title {
  padding-bottom: var(--spacing-l);
}
.inici__estudi .inici-estudi__text {
  padding-bottom: var(--spacing-xl);
}
.inici__filosofia .inici-filosofia__title {
  padding: var(--spacing-xxl-2) 0 var(--spacing-xl) var(--spacing-xxl);
  width: 50%;
}
.inici__filosofia .inici-filosofia__box {
  padding: var(--spacing-xl) var(--spacing-xxl) var(--spacing-xxl-4) var(--spacing-xxl);
  display: flex;
  flex-direction: column;
}
.inici__filosofia .inici-filosofia__text {
  padding-bottom: 55px;
}
.inici__vacants {
  background-color: var(--blue);
  padding: var(--spacing-xxl-4) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inici__vacants .inici-vacants__circle {
  margin-bottom: 55px;
}
.inici__vacants .inici-vacants__title {
  width: 180px;
  text-align: center;
}
.inici__contacte {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inici__contacte p {
  width: 80%;
  padding-bottom: 2rem;
  text-align: center;
}

/*** Page - Acompanyament ***/
.acompanyament .intro {
  background-image: url("http://placekitten.com/700/502");
}
.acompanyament__section {
  position: relative;
  z-index: 1;
}
.acompanyament__title {
  padding: var(--spacing-xxl-3) var(--spacing-xxl) var(--spacing-l) var(--spacing-xxl);
  z-index: 1;
}
.acompanyament__text {
  padding: 0 var(--spacing-xxl) var(--spacing-xxl-3) var(--spacing-xxl);
  z-index: 1;
}
.acompanyament__card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.acompanyament__box {
  position: relative;
  background-color: transparent;
  background-image: url("../../assets/images/box_big.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 93px 0 var(--spacing-xxl-3) 0;
  z-index: 5;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.acompanyament__box .acompanyament__img {
  width: 65%;
}
.acompanyament__deco {
  grid-column: 1;
  grid-row: 1;
  position: relative;
  background-color: transparent;
  background-image: url("../../assets/images/box_big.svg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  top: -10px;
  left: -8px;
  width: 120%;
  height: 200px;
  z-index: 2;
}
.acompanyament__deco + .acompanyament__deco {
  top: -20px;
  left: -10px;
}
.acompanyament__deco + .acompanyament__deco + .acompanyament__deco {
  top: -30px;
  left: -12px;
}
.acompanyament__section#acomp-5 {
  background-color: var(--blue);
}
.acompanyament__section#acomp-5 .acompanyament__img {
  padding-bottom: var(--spacing-xxl);
}
.acompanyament__section#acomp-5 .acompanyament__btn {
  position: relative;
  text-align: right;
  margin-bottom: var(--spacing-xxl-4);
  padding-right: var(--spacing-xxl-3);
  align-self: flex-end;
  width: 309px;
}
.acompanyament__section#acomp-5 .acompanyament__btn::before {
  content: url("../../assets/images/box_negative--blue.svg");
  position: absolute;
  width: 43px;
  left: -0.6px;
  top: -0.8px;
}
.acompanyament__section#acomp-5 .acompanyament__btn::after {
  content: url("../../assets/images/icons/icon_arrow--right.svg");
  position: absolute;
  top: 25px;
  right: 20px;
}

/*** Page - Nosaltres ***/
.nosaltres {
  background-color: var(--blue);
}
.nosaltres__card {
  padding: var(--spacing-xxl-4) var(--spacing-xxl) var(--spacing-xxl-3) var(--spacing-xxl);
  display: flex;
  flex-direction: column;
}
.nosaltres__card .circle-white {
  margin-bottom: var(--spacing-xxl-3);
  align-self: center;
}
.nosaltres__card .circle-white img {
  width: 28px;
}
.nosaltres__card .card__title {
  padding-bottom: var(--spacing-l);
}
.nosaltres .intro {
  background-image: url("http://placekitten.com/700/501");
}
.nosaltres .intro-2 {
  background-image: url("http://placekitten.com/700/503");
}
.nosaltres__btn {
  margin-bottom: var(--spacing-xxl-2);
}
.nosaltres .btn--left {
  padding-right: 80px;
}
.nosaltres .btn__arrow::after {
  right: 50px;
}

/*# sourceMappingURL=styleguide.css.map */
