<!DOCTYPE html>
<html lang="{{ site.lang | default: 'cat' }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Codi Cooperatiu - Busquem desenvolupadora de front-end</title>
    <link rel="icon" type="image/svg" href="{{ 'assets/images/logo_cc--blanc.svg' }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% seo %}
  </head>

  <body>
    <div class="wrapper">
      <header class="header__wrapper">
        <div class="header__container">
          <a href="{{ '/' | absolute_url }}">
            <img src="{{ 'assets/images/logo_full--blau.svg'}}" alt="Logo Codi Cooperatiu">
          </a>
        </div>
      </header>
      <main class="main__wrapper">
        <div class="main__container">
          <section class="section section1">
            <h1>{{ site.description }}</h1>
            <h2>Què busquem?</h2>
            <p>Som en Sergio, en Pere i la Marta de Codi Cooperatiu i cerquem una <strong>desenvolupadora front-end</strong> que vulgui formar part de la nostra cooperativa de treball. Fins ara ens hem dedicat més a la part de back-end i volem ampliar la nostra oferta per poder oferir solucions més completes.</p>
            <p>A l’equip actual som dos homes i una dona. Volem que l’equip arribi a tenir una representació majoritària de persones amb altres identitats de gènere, sobretot ara que es comença a formar l’equip. <a href="#proporcio">Més avall</a> expliquem això en més detall.</p>
            <h3>Les habilitats que millor complementarien l’equip son...</h3>
            <ul>
              <li>Experiència prou extensa en desenvolupament front-end com per entregar projectes directament al client final.</li>
              <li>Domini de Vue, React o Angular.</li>
              <li>Coneixements o ganes d’aprendre React Native o frameworks similars.</li>
              <li>Seria interessant tenir experiència en progressive web apps.</li>
              <li>Dominar o -si més no- entendre el català i el castellà.</li>
            </ul>
            <h3>Quins seran els teus rols?</h3>
            <ul>
              <li><strong>Sòcia treballadora:</strong> assumir tot el que implica gestionar i impulsar un projecte propi (gestions, reunions, prendre decisions...).</li>
              <li><strong>Mentora:</strong> dedicar una part important del temps a formar i guiar la persona júnior front-end que recentment s’ha incorporat a l’equip.</li>
              <li><strong>Estructurar l'àrea de front-end:</strong> decidir amb quines tecnologies treballar, dissenyar els processos (testing, deploys, etc).</li>
              <li><strong>Comunicació amb el client final:</strong> fer pressupostos, calendaritzacions, entregues, suport, assessorament (un dels nostres principis és l’ ”acompanyament tecnològic”).</li>
            </ul>
            <h3>Condicions laborals</h3>
            <p>Les condicions laborals s’equiparen entre tothom de l’equip, per ara el sou base és de <strong>22.800€ anuals</strong> per la jornada completa i 24 dies laborables de vacances l’any.<br>Possibilitat de mitja jornada.</p>
            <h3>No encaixes en el que busquem ara mateix?</h3>
            <p>També estem molt interessades en conèixer gent de valors afins al nostre projecte, que ens vulgui conèixer, fer xarxa i intercanviar experiències, possibles projectes… Així com altres programadores de back-end o fins i tot persones que els agradi el projecte i ens vulguin donar suport.</p>
          </section>
          <section class="section section2">
            <h2>Com som?</h2>
            <p>Tenim molts ideals i somnis sobre com volem fer les coses de forma diferent, però el projecte és nou i hem d’anar avançant pas a pas. Fins ara, això és el que estem portant a la pràctica:</p>
            <ul>
              <li>Som una <strong>cooperativa sense ànim de lucre</strong>. Això vol dir que els beneficis anuals que hi hagi no es reparteixen entre les persones sòcies sinó que van al fons de reserva o es destinen a cobrir necessitats de l’equip, a millorar condicions laborals, a donar suport a altres projectes, o als usos que decidim tots plegats en assemblea.</li>
              <li>Treballem en <strong>modalitat de règim general</strong>; és a dir, amb contractes laborals en comptes de ser autònoms.</li>
              <li>Creiem i practiquem la <strong>igualtat salarial</strong>: independentment de l’experiència i el tipus de feina dels socis, tots cobrem el mateix pel mateix número d’hores treballades.</li>
              <li>L’acord pres és que tothom qui treballa a la cooperativa ho fem com a <strong>sòcies treballadores</strong>. Tot i això, hi ha 2 casos en què sí que hi haurà persones contractades: les que estiguin en la fase de “sòcia en proves”, i els casos puntuals on necessitem mans extra per un projecte en concret.</li>
              <li>Les persones sòcies ho seran <strong>de ple dret</strong>, amb plena co-responsabilitat. Volem fer-nos càrrec de forma equitativa de totes les parts de la cooperativa.</li>
              <li>El <strong>codi per qui el treballa</strong>: la governança romandrà a mans de les persones sòcies treballadores.</li>
              <li><strong>Fons de reserva</strong>: hem acordat no endeutar-nos mai, i per poder evitar-ho, alimentar un fons de reserva que absorbeixi els fluxos de tresoreria i que pugui sostenir varis mesos de despeses en cas que vagin mal dades. I de fet aquest 2020 ja hem aconseguit crear aquest coixí.</li>
              <li>Prioritzar <strong>treballar en remot</strong>, però buscant maneres d’anar-nos trobant de tant en tant per treballar, fer assemblees o conèixe’ns millor.</li>
              <li>Una bona part dels nostres clients son <strong>entitats de l’ESS</strong> o amb finalitats socials.</li>
            </ul>
          </section>
          <section class="section section3">
            <h2>Com volem ser?</h2>
            <p>Planegem anar incorporant aquests punts tant aviat com ens sigui possible, segons anem creixent i disposem dels recursos.</p>
            <ul>
              <li>Limitar la <strong>proporció d’homes</strong>: només es contemplarà la possibilitat d’incorporar més socis treballadors si el número de persones d’altres gèneres és superior al d’homes. Si vols conèixer millor d’on surt aquesta inquietud, ho trobaràs descrit <a href="#proporcio">més avall.</a></li>
              <li><strong>Fomentar l’ESS</strong> donant-se d’alta a les diferents entitats i federacions, assistint o aportant a les activitats que organitzin o fins i tot invertint capital en projectes o banca ètica.</li>
              <li>Tenir una <strong>comptabilitat transparent</strong> i publicada i fer anualment el Balanç Social.</li>
              <li><strong>Prestacions de salut</strong>: cobrir tractaments que no contempli la seguretat social o que per la seguretat social no arribarien a temps.</li>
              <li>Compensar la desigualtat que suposa necessitar certs <strong>productes d’higiene</strong>, comprar-se ulleres o lentilles, articles ortopèdics i d’altres despeses que comporten un desavantatge.</li>
              <li>Compensar les diferents necessitats personals en <strong>dies de descans o de baixa</strong>. Per exemple, si es donen dolors recurrents o problemes crònics que normalment ens portarien a haver de treballar en condicions precàries.</li>
              <li>Poder allargar les <strong>baixes per criança</strong> i tenir un pla per adaptar les jornades laborals a les necessitats de cada cas particular.</li>
              <li>Compensar el desavantatge que suposa per les <strong>persones migrades</strong> la necessitat de fer viatges llargs per visitar la família d'origen.</li>
              <li>Reservar un pressupost anual per cada persona sòcia per poder anar millorant el seu <strong>equipament</strong> (ordinador, cadira, mòbil, etc.).</li>
              <li>Cobrir el cost de la <strong>connexió a internet</strong>.</li>
              <li>Invertir en <strong>formació</strong>, ja sigui cobrint despeses o bé dedicant-hi hores de les jornades laborals.</li>
              <li>Poder fer <strong>jornades reduïdes</strong> (idealment arribar a un màxim de 6h al dia) i tenir flexibilitat per modificar la jornada laboral quan algú ho necessiti.</li>
            </ul>
          </section>
          <section class="section section4" id="proporcio">
            <h2>A què treu cap lo de la proporció d’homes a l’equip?</h2>
            <p>Som conscients que el fet que el projecte el fundéssim 3 homes cis no és cap casualitat sinó la conseqüència d’un seguit de privilegis derivats de l’educació i socialització.</p>            
            <p>El sector tecnològic té molts problemes endèmics de masclisme: els equips estan fortament masculinitzats i s’hi donen tota mena de prejudicis, actituds, agressions i menysteniment de tot allò que és diferent. Òbviament que hi ha excepcions, però la norma son els entorns hostils per moltes persones i especialment per les dones.</p>
            <p>Això ens preocupa i no volem reproduir-ho en la nostra cooperativa. Tot i que el nostre punt de partida és controvertit i lluny de ser perfecte, volem deixar clar que la nostra motivació no és cobrir quotes ni poder demostrar diversitat en números, sino construir un entorn de treball diferent, divers i acollidor.</p>
            <p>No creiem que amb un protocol i bones intencions puguem penjar-nos la medalla i deixar-ho aquí. Entenem que les característiques que han de tenir els espais per ser més segurs les coneixen les persones que en pateixen les violències. I d’aquí parteix la motivació de voler que la base de persones sòcies amb veu i vot es configuri en la seva majoria per persones que no siguin homes.</p>
            <p>No tenim clar si els homes trans s’han d’incloure dins la mateixa quota màxima d’homes, d’entrada creiem que sí, però entenem que algunes realitats son tan allunyades de les dels homes cis que caldria parlar-ne.</p>
            <p>També som conscients que hi ha molts altres homes que podríen beneficiar-se d’un entorn més segur ja que pateixen violències d’altres eixos d’opressió com ara racisme, homofòbia i bifòbia, capacitisme i tants d’altres. Si és el teu cas i t’interessa el projecte o tens comentaris sobre tot aquest plantejament si us plau, escriu-nos, som tot orelles.</p>
            <a href="#contacte" class="button">Contácta'ns</a>
          </section>
          <aside class="sidebar" id="contacte">
            <h3>T'interessa?</h3>
            <p>Contacta'ns a través d'aquest formulari i parlem-ne!</p>
            <p> O si ho prefereixes, envia'ns un email directament a <a href="mailto:hola@codi.coop">hola@codi.coop</a>.</p>
            <form id="form-contact" class="input" action="https://formcarry.com/s/Bk5HJXbdM" method="POST">
              <label class="input__label" for="name">Nom</label>
              <input type="text" name="name" class="input__textfield" required>
              <label class="input__label" for="email">Email</label>
              <input type="email" name="email" class="input__textfield" required>
              <label class="input__label" for="_subject">Títol</label>
              <input type="text" name="_subject" class="input__textfield" required>
              <label class="input__label" for="message">Missatge</label>
              <textarea name="message" class="input__textfield input__textfield--big" required></textarea>
              <div id="form-submit" class="input__submit">
                <input type="submit" value="Enviar">
              </div>
              <input type="text" name="_gotcha" style="display:none">
              <input type="hidden" name="_next" value="/">
              <div id="form-thankyou" style="display:none;">Moltes gràcies pel teu missatge!</div>
              <p class="avis">*Si quan enviis el formulari et porta a la nostra web, és que s'ha enviat correctament.</p>
            </form>
          </aside>
          {{ content }}
        </div>
      </main>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
